@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --quote-font-size: 1.8rem;

  /* Primary */
  --softred: hsl(7, 99%, 70%);
  --yellow: hsl(51, 100%, 49%);
  --darkdesaturatedcyan-graphicdesigntext: hsl(167, 40%, 24%);
  --darkblue-photographytext: hsl(198, 62%, 26%);
  --darkmoderatecyan-footer: hsl(168, 34%, 41%);

  /* Neutral */
  --verydarkdesaturatedblue: hsl(212, 27%, 19%);
  --verydarkgrayishblue: hsl(213, 9%, 39%);
  --darkgrayishblue: hsl(232, 10%, 55%);
  --grayishblue: hsl(210, 4%, 67%);
  --white: hsl(0, 0%, 100%);
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  width: -moz-fit-content;
  width: fit-content;
}

body {
  font-family: "Barlow", sans-serif;
  font-size: 1.8rem;
  font-size: var(--quote-font-size);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

li {
  list-style: none;
}

a {
  -webkit-text-decoration: none;
  text-decoration: none;
  font-size: 1.5rem;
  text-transform: capitalize;
}

/* HEADER */
header {
  min-height: 100vh;
  padding: 5rem 5rem 5rem;
  background-image: url("images/desktop/image-header.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 900px) {
  header {
    min-height: 120vh;
  }
}
/** NAV **/
.nav-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo img {
  width: 20rem;
}

.nav-section nav ul {
  display: flex;
  gap: 2.5rem;
}

.nav-section nav a {
  font-size: 2rem;
  color: hsl(0, 0%, 100%);
  color: var(--white);
}

.nav-section nav a:hover {
  color: hsla(0, 0%, 100%, 0.663);
}

.nav-section nav a.btn {
  background-color: hsl(0, 0%, 100%);
  background-color: var(--white);
  color: hsl(212, 27%, 19%);
  color: var(--verydarkdesaturatedblue);
  padding: 1.5rem 2rem;
  border-radius: 5rem;
  font-family: "Fraunces", serif;
  font-size: 1.6rem;
  text-transform: uppercase;
}

.nav-section nav a.btn:hover {
  background-color: hsla(0, 0%, 100%, 0.3);
  color: hsl(0, 0%, 100%);
  color: var(--white);
}

.menu-icon {
  display: none;
}

@media only screen and (max-width: 900px) {
  .nav-section {
    position: relative;
  }

  .logo {
    margin-bottom: -1rem;
  }

  .logo img {
    width: 18rem;
  }

  .nav-section nav ul {
    width: 95%;
    position: absolute;
    top: 10rem;
    left: 50%;
    transform: translate(-50%);
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 0 10rem;
    gap: 3.5rem;

    max-height: 0;
    overflow: hidden;
    transition: all 0.3s ease-in-out;
  }

  .nav-section nav ul.open {
    max-height: -moz-max-content;
    max-height: max-content;
    overflow: visible;
    padding: 7rem 10rem;
  }

  .nav-section nav ul::after {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    transform: translateY(100%);
    border-left: 4rem solid transparent;
    border-bottom: 4rem solid #fff;

    transition: transform 0.3s ease-in-out;
  }

  .nav-section nav ul.open::after {
    transform: translateY(-95%);
  }

  .nav-section nav a {
    font-size: 3rem;
    color: #979797;
  }

  .nav-section nav a.btn {
    display: block;
    background-color: hsl(51, 100%, 49%);
    background-color: var(--yellow);
    padding: 3rem 4rem;
    font-size: 2.6rem;
    margin-top: 3rem;
  }

  .menu-icon {
    display: block;
    width: 4rem;
    margin-right: 1rem;
  }
}

/** HERO **/
.section-hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.section-hero h1 {
  display: block;
  font-family: "Fraunces", serif;
  font-size: 6rem;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  color: hsl(0, 0%, 100%);
  color: var(--white);
  margin-top: 20vh;
  margin-bottom: 8vh;
}

.arrow-icon img {
  width: 3rem;
}

@media only screen and (max-width: 900px) {
  .section-hero h1 {
    font-size: 7rem;
    text-align: center;
  }

  .arrow-icon img {
    width: 5rem;
  }
}

/* ************* */
/* MAIN */

.section-info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 1fr;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 4rem;
  padding: 12rem 12rem;
  position: relative;
}

.info h2 {
  font-family: "Fraunces", serif;
  font-size: 5rem;
}

.info p {
  font-size: 1.9rem;
  line-height: 1.5;
  color: hsl(232, 10%, 55%);
  color: var(--darkgrayishblue);
}

.info a {
  display: inline-block;
  font-family: "Fraunces", serif;
  text-transform: uppercase;
  position: relative;
}

.info a p {
  position: relative;
  color: hsl(212, 27%, 19%);
  color: var(--verydarkdesaturatedblue);
  z-index: 2;
}

.info a:hover .yellow-line {
  background-color: hsl(51, 100%, 49%, 0.7);
}

.info a:hover .red-line {
  background-color: hsl(7, 99%, 70%, 0.7);
}

.info a span {
  position: absolute;
  bottom: 0;
  left: -10%;
  width: 120%;
  height: 1.5rem;
  border-radius: 10rem;
  z-index: 1;
}

.yellow-line {
  background-color: hsl(51, 100%, 49%, 0.3);
}

.red-line {
  background-color: hsl(7, 99%, 70%, 0.3);
}

.info-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.image-transform {
  background-image: url("images/desktop/image-transform.jpg");
}

.image-stand-out {
  background-image: url("images/desktop/image-stand-out.jpg");
}

@media only screen and (max-width: 900px) {
  .section-info {
    grid-template-columns: 1fr;
  }

  .info {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4rem;
    padding: 7rem 3rem;
    position: relative;
    text-align: center;
  }

  .info h2 {
    font-size: 5rem;
  }

  .info p {
    font-size: 2.8rem;
  }

  .info a span {
    bottom: 5%;
    height: 2rem;
  }

  .image-transform {
    grid-row: 1;
  }
}

/* ************* */
/* INFO 2 */
.section-info-2 {
  display: flex;
}

.info-on-img {
  flex: 1;
  position: relative;
  display: flex;
  justify-content: center;
}

.info-on-img img {
  width: 100%;
}

.info-box {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 55%;
  text-align: center;
  position: absolute;
  top: 65%;
}

.info-box h2 {
  font-family: "Fraunces", serif;
  text-transform: capitalize;
  font-size: 3.2rem;
  color: hsla(0, 0%, 0%, 0.6);
}

.info-box p {
  font-size: 1.9rem;
  line-height: 1.5;
  color: hsla(0, 0%, 0%, 0.5);
}
.info-box.graphic-design p {
  color: hsl(167, 40%, 24%);
  color: var(--darkdesaturatedcyan-graphicdesigntext);
}
.info-box.photography p {
  color: hsl(198, 62%, 26%);
  color: var(--darkblue-photographytext);
}

@media only screen and (max-width: 900px) {
  .section-info-2 {
    flex-direction: column;
  }

  .info-on-img {
    flex: auto;
    height: 90rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }

  .image-graphic-design {
    background-image: url("images/desktop/image-graphic-design.jpg");
  }

  .image-photography {
    background-image: url("images/desktop/image-photography.jpg");
  }

  .info-on-img img {
    width: auto;
    display: none;
  }

  .info-box {
    gap: 4rem;
    width: 90%;
    top: 65%;
  }

  .info-box h2 {
    font-size: 4.7rem;
  }

  .info-box p {
    font-size: 2.5rem;
  }
}

/* ************* */
/* TESTIMONIALS */
.section-testimonials {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8rem;
  padding: 16rem;
}

.section-testimonials h2 {
  font-family: "Fraunces", serif;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-size: 2.5rem;
  color: hsla(0, 0%, 0%, 0.3);
}

.testimonials-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 4rem;
}

.testimonial {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6rem;
}

.testimonial img {
  width: 8rem;
  border-radius: 50%;
}

.testimonial p {
  text-align: center;
  font-size: 1.9rem;
  line-height: 1.5;
  color: hsla(0, 0%, 0%, 0.6);
}

.person-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}

.person-info span {
  font-family: "Fraunces", serif;
  text-transform: capitalize;
  font-size: 2.2rem;
}

.person-info p {
  font-size: 1.6rem;
  color: hsla(0, 0%, 0%, 0.3);
}

@media only screen and (max-width: 900px) {
  .section-testimonials {
    padding: 12rem 4rem;
  }

  .testimonials-wrapper {
    flex-direction: column;
    justify-content: center;
    gap: 8rem;
  }

  .testimonial {
    gap: 5rem;
  }

  .testimonial img {
    width: 10rem;
  }

  .testimonial p {
    font-size: 2.8rem;
  }

  .person-info {
    gap: 1rem;
  }

  .person-info span {
    font-size: 2.8rem;
  }

  .person-info p {
    font-size: 2.3rem;
  }
}

/* ************* */
/* GALLERY */
.section-gallery {
  min-height: 50rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.gallery-img {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

[data-id="gallery-img-1"] {
  background-image: url("images/desktop/image-gallery-milkbottles.jpg");
}
[data-id="gallery-img-2"] {
  background-image: url("images/desktop/image-gallery-orange.jpg");
}
[data-id="gallery-img-3"] {
  background-image: url("images/desktop/image-gallery-cone.jpg");
}
[data-id="gallery-img-4"] {
  background-image: url("images/desktop/image-gallery-sugarcubes.jpg");
}

@media only screen and (max-width: 900px) {
  .section-gallery {
    min-height: 80rem;
    grid-template-columns: 1fr 1fr;
  }
}
/* ************* */
/* FOOTER */

footer {
  background-color: hsl(169, 32%, 74%);
  padding: 10rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5rem;
  position: relative;
}

.logo-footer {
  scale: 1.5;
}

.logo-footer path {
  fill: hsl(167, 25%, 31%);
}

nav {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8rem;
}

.links ul {
  display: flex;
  gap: 5rem;
}

.links a {
  font-size: 2rem;
  color: hsl(168, 34%, 41%);
  color: var(--darkmoderatecyan-footer);
}

.links a:hover {
  color: hsl(0, 0%, 100%, 0.85);
}

.links-social ul {
  display: flex;
  gap: 2rem;
}

.links-social a:hover path {
  fill: hsl(0, 0%, 100%, 0.95);
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  color: hsl(167, 25%, 31%);
  margin-bottom: 1rem;
}

.attribution a {
  color: hsl(167, 40%, 24%);
  color: var(--darkdesaturatedcyan-graphicdesigntext);
  -webkit-text-decoration: none;
  text-decoration: none;
  transition: color 0.2s ease;
}

.attribution a:hover {
  color: hsl(0, 0%, 100%, 0.95);
}

@media only screen and (max-width: 900px) {
  footer {
    gap: 9rem;
  }

  .logo-footer {
    scale: 2;
  }

  nav {
    gap: 13rem;
  }

  .links ul {
    gap: 10rem;
  }

  .links a {
    font-size: 2.8rem;
  }

  .links-social ul {
    display: flex;
    gap: 4rem;
  }

  .links-social svg {
    width: 50px;
    height: 50px;
  }

  .links-social path {
    scale: 1.8;
  }

  .attribution {
    display: none;
  }
}
